body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e6ecf0;
}

.dashboard-main{
  padding: 55px 14px 15px;
  position: relative;
  width: 1190px;
}

.dashboard{
  float : left;
  width : 289px;

}

.dashboard-center{
  float: left;
  margin: 0 10px;
  width: 589px;
}

.tweet-content{
  min-height: 51px;
  padding:9px 12px;
}

.content{

  margin-left: 58px;
  text-align:left;
}

.content-body{
  margin-top: 12px;
  padding-bottom: 2px;
}

.content-footer{
  display: table;
  width: 100%;
}

.twittar-btn{
  background-image: none;
  box-shadow: none;
  border: none;
}
.twittar-btn-text{
  font-weight:bold;
  margin-left:6px;
}

.fullname{
  word-break:break-all;
  font-size:14px;
  font-weight:bold;
}
.username{
  color:#657786;
}
